/* regole generali */

* {
    box-sizing: border-box;
    border: none;
}

/* regole container */
#container {
    background-color: white;
    margin: 10px 10%;
    padding: 20px;
    border-radius: 10px;
}

/* regole header */

header {
    padding: 10px;
}
h1 {
    font-size: 40px;
}
h1:before {
    content: url(../img/Logo.png);
    display: inline-block;
    vertical-align: middle;
}

/* regole main */

h2:before {
    content: "\1F893";
    vertical-align: top;
}

/* regole bottoni */

#task {
    background-color: #47adf1;
    border: solid 1px rgb(185, 178, 178);
    border-radius: 4px;
}

#section {
    background-color: none;
    border: solid 1px rgb(185, 178, 178);
    border-radius: 4px;
}

/* regole azioni fatte e da fare */
.fatto {
    display: inline;
}

.nofatto {
    display: inline;
}

.fatto:before {
    content: "\1F5F8";
    text-align: center;
    color: green;
    border: solid 1px green;
    border-radius: 50%;
}

.nofatto:before{
    content: "\00d7";
    text-align: center;
    color: red;
    border: solid 1px red;
    border-radius: 50%;
}


/* definizione vari tags */

.editorial {
    border: 1px;
    background-color: #45abea;
    padding: 3px;
    border-radius: 10px;
}

.q1goals {
    border: 1px;
    background-color: #9c72e4;
    padding: 3px;
    border-radius: 10px;
}

.recruiting {
    border: 1px;
    background-color: #63c0a9;
    padding: 3px;
    border-radius: 10px;
}

.mobile {
    border: 1px;
    background-color: #f29e33;
    padding: 3px;
    border-radius: 10px;
}

.website {
    border: 1px;
    background-color: #d75f9e;
    padding: 3px;
    border-radius: 10px;
}

.sales {
    border: 1px;
    background-color: #45abea;
    padding: 3px;
    border-radius: 10px;
}