/* regole generali */

* {
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* regole container */
#contmain {
    background-color: #f6f8f9;
    padding: 50px;

}

#container1 {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    padding-left: 100px;
    border-radius: 10px;
}

#container2 {
    background-color: white;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    padding-left: 100px;
    border-radius: 10px;
}

/* regole header */

header {
    background-color: white;
}
h1 {
    font-size: 40px;
}
h1:before {
    content: url(../img/Logo.png);
    display: inline-block;
    vertical-align: middle;
}

/* regole main */

h2:before {
    content: "\1F893";
    vertical-align: middle;
}

/* regole bottoni */

#task {
    background-color: #47adf1;
    border: solid 1px rgb(185, 178, 178);
    border-radius: 4px;
    width: 100px;
    height: 40px;
}

#section {
    background-color: none;
    border: solid 1px rgb(185, 178, 178);
    border-radius: 4px;
    width: 100px;
    height: 40px;
}



/* regole azioni fatte e da fare */
.fatto {
    display: inline;
    line-height: 35px;
}

.nofatto {
    display: inline;
    line-height: 35px;
}

.fatto:before {
    content: "\1F5F8";
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    text-align: center;
}

.nofatto:before{
    content: "\00d7";
    color: red;
    border: solid 1px red;
    border-radius: 50%;
    text-align: center;
}


/* definizione vari tags */

.editorial {
    border: 1px;
    background-color: #45abea;
    padding: 3px;
    border-radius: 10px;
}

.q1goals {
    border: 1px;
    background-color: #9c72e4;
    padding: 3px;
    border-radius: 10px;
}

.recruiting {
    border: 1px;
    background-color: #63c0a9;
    padding: 3px;
    border-radius: 10px;
}

.mobile {
    border: 1px;
    background-color: #f29e33;
    padding: 3px;
    border-radius: 10px;
}

.website {
    border: 1px;
    background-color: #d75f9e;
    padding: 3px;
    border-radius: 10px;
}

.sales {
    border: 1px;
    background-color: #45abea;
    padding: 3px;
    border-radius: 10px;
}